.profile__header {
  margin-top: 5rem;
}

.profile__header-logo {
  padding-right: 10px;
}

.profile__header-logo img {
  display: table-cell;
}

.profile__header-logo div.logo-img img {
  height: 78px;
  width: 94px;
}

.profile__header-logo div.logo-text img {
  height: 72px;
}

.profile__header-logo div.logo-text {
  border-right: 1px solid #000;
  padding-right: 18px;
}

.profile__header-topic a {
  font-size: 1.5rem;
  color: #4d4d4d;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
}

.profile {
  margin: 5rem;
}

.profile__heading {
  font-weight: 600;
  font-size: 1.25rem;
}

.profile__heading::after {
  content: "";
  display: block;
  margin-left: 1px;
  margin-top: 0.875rem;
  border-top: var(--primary) solid 3px;
  width: 33%;
  max-width: 100px;
}

.profile__section {
  margin-top: 3rem;
  font-size: 14px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.profile__section-title {
  max-width: 300px;
}

.profile__section .profile__section-title img {
  height: 175px;
  width: 150px;
}

.profile__section .profile__section-title h4 {
  font-size: 20px;
}

.profile__section span {
  font-weight: 600;
}

.profile__section-text {
  font-weight: 600px;
  max-width: 700px;
}

.profile_link a {
  color: #428bca;
  transition: 0.5s ease;
}

.profile_link a:hover {
  color: var(--gray);
}

.profile_link a svg {
  font-size: 24px;
}

@media screen and (max-width: 992px) {
  .profile__header {
    margin-left: 1rem;
  }

  .profile__header-logo div.logo-text {
    border-right: none !important;
    padding-right: 0;
  }

  .profile__header-row:first-child {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
  }

  .profile {
    margin: 1rem;
  }

  .profile__section {
    flex-direction: column;
    border: none;
    box-shadow: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}

@media screen and (max-width: 768px) {
  .profile__header-row .profile__header-col.left>div.d-flex {
    align-items: flex-start;
    flex-direction: column;
  }

  .profile__section {
    margin: 2rem;
  }

  .profile__section-text .text {
    max-width: 100%;
  }
}