@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

body,
html,
#root {
  font-size: 100%;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  position: relative;
  width: 100%;
  scroll-behavior: smooth;
}

:root {
  --primary: #009edb;
  --light: #f2f2f2;
  --dark: rgb(51, 51, 51);
  --gray: #c4c4c4;

  /* sizes */
  --nav-link: 0.875rem;
  --text-hero: 3rem;
  --text-xl: 2.5rem;
  --text-lg: 2rem;
  --text-md: 1.5rem;
  --text-sm: 1rem;
  --text-icon: 1.5rem;
  --link-text: 0.9315rem;

  /* border-radius */
  --btn-round: 133.333px;
  --br-0: 0.25rem;
  --br-1: 0.5rem;
  --br-2: 0.75rem;
  --br-3: 1rem;

  /* padding-margin */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 4rem;

  /* -input */
  --input-text: 0.9315rem;
  --nav-height: 4.4rem;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-text-highlight-color: transparent;
}

body {
  font-size: 16px;
  background-color: var(--color-light);
}

button,
input {
  font-size: 0.9315rem;
  font-weight: 400;
  font-family: inherit;
  outline: none;
}

.section__container {
  max-width: 1350px;
  margin: auto;
}

.app__container {
  max-width: 1200px;
  margin: auto;
}

.-logo img {
  width: 138px;
  height: 56px;
  object-fit: cover;
}

.-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

svg {
  font-size: var(--text-icon);
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.gap-0 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 1.5rem;
}

.gap-3 {
  gap: 2rem;
}

.gap-4 {
  gap: 2.5rem;
}

/* PADDING HORIZONTAL */
.px-0 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-4 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-6 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-7 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-8 {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* PADDING VERTICAL */
.py-0 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-4 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-5 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-6 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-7 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.pb-4 {
  padding-bottom: 1.25rem;
}

/* MARGIN HORIZONTAL */
.mx-0 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-4 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.mx-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mx-6 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.mx-7 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* MARGIN VERTICAL */
.my-0 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-2 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-6 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.my-7 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* MARGIN BOTTOM */
.mb-0 {
  margin-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.75rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.25rem;
}

.mb-5 {
  margin-bottom: 1.5rem;
}

.mb-6 {
  margin-bottom: 1.75rem;
}

.mb-7 {
  margin-bottom: 2rem;
}

/* MARGIN TOP */
.mt-0 {
  margin-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.75rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.25rem;
}

.mt-5 {
  margin-top: 1.5rem;
}

.mt-6 {
  margin-top: 1.75rem;
}

.mt-7 {
  margin-top: 2rem;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-left {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: left;
  -webkit-justify-content: left;
  -moz-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.justify-right {
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -moz-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.gold {}

.silver {}

.dianmond {}

.premium {}

/* FONT SIDE AND WEIGHT */
.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.text-icon {
  font-size: var(--text-md);
}

.text-body {
  font-size: var(--text-sm);
}

.text-hero {
  font-size: var(--text-md);
}

.text-btn {
  font-size: var(--link-text);
}

.text-input {
  font-size: var(--link-text);
}

.text-heading {
  font-size: var(--text-md);
}

.text-nav {
  font-size: var(--nav-link);
}

.text-link {
  font-size: var(--link-text);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}