.donate__header {
  margin-top: 5rem;
}

.donate__header-logo {
  padding-right: 10px;
}

.donate__header-logo img {
  display: table-cell;
}

.donate__header-logo div.logo-img img {
  height: 78px;
  width: 94px;
}

.donate__header-logo div.logo-text img {
  height: 72px;
}

.donate__header-logo div.logo-text {
  border-right: 1px solid #000;
  padding-right: 18px;
}

.donate__header-topic a {
  font-size: 1.5rem;
  color: #4d4d4d;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
}

/* styles for DonatePage component */

.donate-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.donate-container a {
  color: #428bca !important;
  border-bottom: dotted 0.1rem #428bca !important;
}

.instruction-text {
  font-size: 18px;
}

.barcode {
  height: 350px;
  width: 300px;
}

.wallet-info {
  margin: 1rem 0;
}

.wallet-address {
  font-weight: bold;
  margin-right: 0.5rem;
}

.copy-icon {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.copied-popup {
  position: absolute;
  background-color: #428bca;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.copied-popup.show {
  opacity: 1;
}

.donation-message {
  font-size: 16px;
  margin-top: 1rem;
}

@media screen and (max-width: 992px) {
  .donate__header {
    margin-left: 1rem;
  }

  .donate__header-logo div.logo-text {
    border-right: none !important;
    padding-right: 0;
  }

  .donate__header-row:first-child {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
  }
}


@media screen and (max-width: 768px) {

  .donate__header-row .donate__header-col.left>div.d-flex {
    align-items: flex-start;
    flex-direction: column;
  }
}